


<div id="container">
  <img src="<%= asset_path @map[:image] %>" class="map">
  <%#= asset_path @map[:image], :class => "map" %>
  <!-- <img src="<%#= @map[:image] %>" class="map"> -->



<% @pieces.each do |piece| %>
  <img src="<%= asset_path piece[:image] %>" class="draggable">

  <%#= asset_path piece[:image], :class => "draggable" %>
  <!-- <img src="<%#= piece[:image] %>" class="draggable"> -->
<% end %>
</div>

