.map { 
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
   /*bring your own prefixes */
  transform: translate(-50%, -50%);
}


.map.dropzone {
  opacity: 0.3;
}
.draggable {
  position: absolute;
  right: 0;
  bottom: 0;

/*  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);*/
}

#container {
  height: 100vh;
}

body {
  overflow: hidden;
  margin: auto;
}

#mapDiv {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0; 
  width: 100%;
  border: 2px solid red;
}

#piecesDiv {
  border: 2px solid green;
  display: inline-block;
  position: absolute;
  top: 20%;
  height: 25em;
  width: 15em;
 
}

.no-drag {
  position: absolute;
}

.banner {
  position: relative;
  z-index: 200;
}