.map {
  position: absolute;
  border: 2px solid black;
}

.draggable {
  position: absolute;
  right: 0;
  bottom: 0;
}

#container {
  height: 100vh;
}

body {
  overflow: hidden;
  margin: auto;
}

